@font-face {
    font-family: Roboto-Thin;
    src: url(roboto/Roboto-Thin.ttf);
  }

@font-face {
    font-family: Roboto-Bold;
    src: url(roboto/Roboto-Bold.ttf);
  }

  @font-face {
    font-family: Roboto-LightItalic;
    src: url(roboto/Roboto-LightItalic.ttf);
  }

  @font-face {
    font-family: AlFresco-Bold;
    src: url(fonts/AlFresco-Bold.ttf);
  }
  @font-face {
    font-family: Festivo;
    src: url(fonts/Ahmet.Altun_Festivo.LC.Basic.otf);
  }

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto-Thin;
    height: auto;
    flex: 1;
}

.row-top {
    background-color: #1f2937;
    display: flex;

}
.center-div {
    display:block;
    margin:0 auto;
    /*width:55%;*/
    width:70%;    
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 32%;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    flex-wrap: wrap;
    
}
.link-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;    
    display: flex;
    gap: 12px;
    

}
.link-list > * {
    color: #e5e7eb;
}
.header-logo {
    font-family: AlFresco-Bold;
    color:#f9faf8;
    font-size: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header-logo1 {
    font-size: 44px;
    margin-bottom: -30px;
}

.header-logo2 {
    font-size: 32px;
    margin-bottom: -15px;
}
.header-logo3 {
    font-family: Festivo;
    font-size: 16px;
}

a {
    color:#f9faf8;
    text-decoration: none;    
}

.title {
    display: flex;
    justify-content: space-between;
    gap: 7%;
    align-items: center;
    min-height:450px;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top: 45px;
}
.title-left{
    display: flex;
    flex-direction: column;
    gap: 3px;
    min-width: 120px;
    max-width: 550px;
    margin-bottom: 20px;
    
}
.title-title {
    font-family: Roboto-Bold;
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    max-width: 550px;

}

.title-subtext {
    margin-bottom: 10px;
}

.img_bio {
    max-width: 550px;
    /* max-width: 40%; */
    min-width: 100px;

    height: auto;
    filter: gray;
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */    
    border-radius: 10px;
    display: flex;
    flex: 1;
  }

.img_portfolio {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid #1f2937;
  }


button {
    font-family: Roboto-Bold;
    width:120px;
    height:40px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    font-size: 18px;
    padding: 0 1%;
}

.image-placeholder {
    width: 500px;
    height: 220px;
    background-color: gray;
    display:flex;
    justify-content: center;
    align-items: center;
}
.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.row-content {
    display: flex;
    flex-direction: column;
}

.item-container {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 120px;
    flex-wrap: wrap;
}
.content-title {
    font-family: Roboto-Bold;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 50px 0;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 270px;
    font-size: 18px;
    text-align: center;

}

.text {
    margin-top: 10px;
}

.row-quote {
    background-color: #e5e7eb;
    display: flex;
    padding: 100px 0;
    flex-direction: column;
}

.quote {
    font-family: Roboto-LightItalic;
    font-size: 36px;

}

.center-div-quote {
    display: block;
    margin: 0 auto;
    width: 45%;
    text-align:left;
}

.quote-author {
    font-family: Roboto-Bold;
    font-size: 24px;
    text-align: end;
    margin-right: 50px;
}

.row-calltoaction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calltoaction {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 40%;
    margin: 80px 0;
    padding: 40px 6%;
    border-radius: 10px;
    gap: 10%

}

.calltoaction-left {
    color: #f9faf8;
}

.calltoaction-title {
    font-family: Roboto-Bold;
    font-size: 22px;
}

.calltoaction-content {
    font-size: 16px;
}

.row-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #1f2937;
    color: #f9faf8;

}